{% extends 'base/base.html' %}


{% block body%}

	{% if o_publicacion %}

{% if o_publicacion.aprobada == True %}
<div class="cont">
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<video width="600" controls>
					<source src="{{o_publicacion.video.url}}" type="video/mp4">
				</video>
				<form method="post">
				{% csrf_token %}
 				<div class="start">
  					<p class="clasificacion">
    				<input id="radio1" type="radio" name="puntuacion" value="5">
    				<label for="radio1" class="slabel">★</label>
    				<input id="radio2" type="radio" name="puntuacion" value="4">
    				<label for="radio2" class="slabel">★</label>
    				<input id="radio3" type="radio" name="puntuacion" value="3">
    				<label for="radio3" class="slabel">★</label>
    				<input id="radio4" type="radio" name="puntuacion" value="2">
    				<label for="radio4" class="slabel">★</label>
    				<input id="radio5" type="radio" name="puntuacion" value="1">
    				<label for="radio5" class="slabel">★</label>
  					</p>
 				
 					<div class="btnCalificar">
						<button class="btn btn-primary btn-lg" type="submit" class="btnGuardar">Calificar</button>
  					</div>
  				</div>
				</form>
			</div>
		<div class="col-md-6">
			<div class="desc">
		<table class="ptable">
		<tbody>
			<tr>
				<h4>
					<strong style="padding-left: 10px;"> Información sobre el pedal:</strong> {{o_publicacion.nombre_pedal}}
				</h4>
				<hr>
			<tr>
        		<td><strong>Efecto del pedal:</strong></td>
		        <td>{{ o_publicacion.efecto }}</td>
        		<td><strong>Marca:</strong></td>
        		<td>{{ o_publicacion.marca }}</td>
    		</tr>
		    <tr>
		        <td><strong>Autor de la publicación:</strong></td>
		        <td>{{ o_publicacion.autor_publicacion }}</td>
		        <th><strong>Modelo:</strong></th>
		        <td>{{ o_publicacion.modelo }}</td>
		    </tr>
		    <tr>
		        <td><strong>Fecha de publicación:</strong></td>
		        <td>{{ o_publicacion.fecha_publicacion }}</td>
		        <th><strong>Precio:</strong></th>
		        <td>${{ o_publicacion.precio }}</td>
		    </tr>
		        
		</tbody>
	</table>	
	<hr>
	<strong style="padding-left: 10px;">Descripción:</strong>
	<h6 style="padding-left: 10px;">{{o_publicacion.descripcion_pedal}}</h6>
	</div>
	</div>

</div>
</div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-href="{{ request.path }}" data-numposts="5"></div>


{% else %}
	{% csrf_token %}

<div class="cont">
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<video width="600" controls>
					<source src="{{o_publicacion.video.url}}" type="video/mp4">
				</video>
			</div>
			<div class="col-md-6">
					<table class="ptable">
						<tbody>
							<tr>
							<h4>
								<strong style="padding-left: 10px;"> Información sobre el pedal:</strong> {{o_publicacion.nombre_pedal}}
							</h4>
							<hr>
							<tr>
        						<td><strong>Efecto del pedal:</strong></td>
		        				<td>{{ o_publicacion.efecto }}</td>
        						<td><strong>Marca:</strong></td>
        						<td>{{ o_publicacion.marca }}</td>
    						</tr>
		    				<tr>
		        				<td><strong>Autor de la publicación:</strong></td>
					        	<td>{{ o_publicacion.autor_publicacion }}</td>
						        <th><strong>Modelo:</strong></th>
						        <td>{{ o_publicacion.modelo }}</td>
		    				</tr>
		    				<tr>
						        <td><strong>Fecha de publicación:</strong></td>
						        <td>{{ o_publicacion.fecha_publicacion }}</td>
						        <th><strong>Precio:</strong></th>
						        <td>${{ o_publicacion.precio }}</td>
		    				</tr>
		        
						</tbody>
					</table>	
					<hr>
					<strong style="padding-left: 10px;">Descripción:</strong>
					<h6 style="padding-left: 10px;">{{o_publicacion.descripcion_pedal}}</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<form method="post">
				{% csrf_token %}
 						<button type="submit" class="btn btn-primary btn-lg btn-block" name="btnAprobar">Aprobar</button>
						<button type="submit" class="btn btn-danger btn-lg btn-block" name="btnRechazar">Rechazar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}
    
{% else %}
	<h1>No se encontró información de este pedal</h1>
{% endif %}   
</div>
{% endblock %}


