{% load staticfiles %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {%block tituloPagina%}
        <title>Chepedales</title>
        {%endblock%}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icono.ico'%}">
        <!--Link para archivo de plantilla-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/plantilla.min.css'%}" />

        <!--Para iconos-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css'%}" />

        {% block Bhead %}
        {% endblock %}
        {% block meta %}
        {% endblock %}

        
    </head>

    <body>

        <!--Menu de Navegacion-->
        <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
            <a class="navbar-brand page-scroll sticky-logo" href="{% url 'catalogo_p' %}">
            <h1><img src="{% static 'img/logo.png' %}" width="200" height="80"><span></span></h1>
            <a class="navbar-brand" href="{% url 'catalogo_p' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-block" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" href="{% url 'catalogo_p' %}"><span class="icon-home"></span> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'top' %}"><span class="icon-music"></span> Pedales favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'publicacion:publicacion_registrar' %}"><span class="icon-share2"></span> Publicar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/catalogo#funcion/"><span class="icon-accessibility"></span> Nosotros</a>
                    </li>

                    {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admSolicitudes:solicitud' %}"><span class="icon-share2"></span> Solicitudes</a>
                    </li>
                    {%endif%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogo_p' %}"><span class="icon-user"></span> Bienvenido: {{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><span class="icon-cross"></span> Salir</a>
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registro:login' %}"><span class="icon-user"></span> Iniciar Sesión</a>
                    </li>
                    {% endif %}

                    

                </ul>

            </div>
        </nav>


        {%block body%}
        {%endblock%}

        <!--Footer-->
        {% block footer%}
        <footer>
            <div class="row p-3">
                <div class="col-lg-3" id="a">
                    <div class="alert alert-dismissible w-100 alert-danger d-inline-block">
                        <a href="https://www.instagram.com/chepedales/" class="alert-link"><span class="icon-youtube2"></span></a><strong> Instagram</strong>
                        <p>Mantente al tanto de los videos y contenido para ti.</p>
                    </div>
                </div>


                <div class="col-lg-3" id="b">
                    <div class="alert alert-dismissible w-100 alert-info d-inline-block ">
                        <a href="https://www.facebook.com/ChepeDales-575147906223895/" class="alert-link"><span class="icon-facebook"></span></a><strong> Faceebok</strong>
                        <p class="align-center">Siguenos y comparte con nostros tu pasion.</p>
                    </div>
                </div>

                <div class="col-lg-3" id="c">
                    <div class="alert alert-dismissible w-100 alert-primary d-inline-block">
                        <a href="#" class="alert-link"><span class="icon-google-plus"></span></a><strong> GooglePlus</strong>
                        <p>Comparte con la comunidad de musicos del pais.</p>
                    </div>
                </div>

                <div class="col-lg-3"id="d">
                    <div class="alert alert-dismissible w-100 alert-success d-inline-block">
                        <a href="https://twitter.com/ChepeDales" class="alert-link"><span class="icon-twitter"></span></a><strong> Twitter</strong>
                        <p>Esten pendientes, de frases celebres de musicos.</p>
                    </div>
                </div>
            </div>
            </div>
        </footer>
        {% endblock %}
    </body>


        {%block script%} {%endblock%}

    </body>

</html>