.publicacion{
	background-color: rgba(0, 0,0, 0.1); 
	font-family: sans-serif;
	border-radius: 20px;
	position: relative;
	top: 1em;
	bottom: 1em;
	
}
input[type=submit]{
	font-weight: bold;
}
.container_sim{
	/* background: #AED284; */
}
.titulo{
	background: #FFC59E;
}
.nav-item{
	color:blue;
	font-weight: bold;
}
.actives{
	box-shadow:1px -1px lightgreen,2px -2px lightgreen,3px -3px lightgreen,
			   4px -4px lightgreen,5px -5px lightgreen,6px -6px lightgreen,
			   7px -7px lightgreen,8px -8px lightgreen,9px -9px lightgreen;
}
.psenter{
	display: inline;
} 
.enter{
	display: inline;
	font-weight: bold;
} 


