{% extends "base/base.html" %}
{% load static %}

{%block tituloPagina%}
    <title>Solicitudes</title>
{%endblock%}


{% block Bhead%}
 <link rel="stylesheet" href="{% static 'css/estiloSolicitudes.css' %}">
{%endblock%}

{% block body %}

<header ><h2 class="cabecera">Solicitudes pendiente de revision</h2></header>



<div class="container"> 
    <table class="table table-striped">
 	  <thead>
    	<tr>
      		<th scope="col">Usuario</th>
      		<th scope="col"> Nombre pedal</th>
      		<th scope="col">Fecha</th>
      		<th scope="col">Accion</th>
    
		</tr>
	   </thead>
	   <tbody>
           {% if solicitudes %}
            {% for solicitud in solicitudes %}
            {%if solicitud.aprobada == False %}
		<tr>
      		<td>{{ solicitud.autor_publicacion}}</td>
      		<td>{{ solicitud.nombre_pedal}}</td>
      		<td> {{ solicitud.fecha_publicacion}}</td>
      		<td> <a href="{% url 'publicacion:mostrar_publicacion' solicitud.id %}"  class="btn btn-light">Ver detalles</a> </td>
      		
     </tr>
 	  </tbody>
    {% endif %}
            {% endfor %}

			     {% else %}
			         <h3 class="vacio"> Sin publicacion pendientes a evaluar, asi que puedes tomar un descanso :) </h3>

            {% endif %}
        
    </table>
    
</div>

{%endblock%}

